backoff==2.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crossref==0.1.2
idna==3.7
joblib==1.4.0
langdetect==1.0.9
nltk==3.8.1
numpy
# pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.4.16
requests==2.31.0
# scikit-learn==1.4.2
six==1.16.0
threadpoolctl==3.4.0
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.1
googletrans==3.1.0a0
deep-translator==1.11.4
regex==2023.12.25 

requests
crossref
scipy
flask
googletrans
scikit-learn
habanero
pandas  # ?!
spacy
torch
transformers
googlesearch-python
