backoff
certifi
charset-normalizer
click
colorama
crossref
idna
joblib
langdetect
nltk
numpy
# pandas
python-dateutil
pytz
requests
# scikit-learn
six
threadpoolctl
tqdm
tzdata
urllib3
googletrans==3.1.0a0
deep-translator==1.11.4
regex

requests
crossref
scipy
flask[async]
googletrans
scikit-learn
habanero
pandas  # ?!
spacy
torch
transformers
googlesearch-python
huggingface_hub[hf_xet]

